<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="active">
        <div class="sidebar-header text-center">
            <img src="{{user.image}}" style="width: 3rem;" alt="" class="rounded-circle">
            <h6>{{user.nome}}</h6>

            <strong class="px-2">{{first user.nome}}</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                    Home
                </a>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-chart-line"></i>
                Planejamento  
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/planning">Dashboard</a>
                    </li>
                    <li>
                        <a href="/products">Produtos</a>
                    </li>
                    <li>
                        <a href="/warehouse">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    About
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Pages
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-image"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Contact
                </a>
            </li>
            {{#if user}}
            <li>
                <a href="/usuarios/logout">
                    <i class="fas fa-times"></i>
                    Sair</a>
            </li>
            {{else}}
            <li>
                <a href="/usuarios/login">
                    <i class="fas fa-sign-in-alt"></i>
                    Login</a>


                <a href="/usuarios/registro">
                    <i class="fas fa-user-plus"></i>
                    Registro</a>
            </li>
            {{/if}}

        </ul>
    </nav>