<div class="mt-2  container-fluid">
    <div class="d-flex justify-content-center">
        <div class="p-1 mr-auto">
            <h3>Minhas Obras</h3>
        </div>
        {{#json typeChart}}
        <input type="hidden" id="typeChart" value="{{this}}">
        {{/json}}

        {{#json groupChart}}
        <input type="hidden" id="groupChart" value="{{this}}">
        {{/json}}

        {{#json warehouseChart}}
        <input type="hidden" id="warehouseChart" value="{{this}}">
        {{/json}}

        {{#json statusChart}}
        <input type="hidden" id="statusChart" value="{{this}}">
        {{/json}}
    </div>


    <!--CHART JS-->
    <div class="row justify-content-center">
        <div class="col-md-4 mb-1 chart-container" style="position: relative; height:100%; width:100%">
            <div class="card">
                <canvas id="line-chart" width="100" height="70"></canvas>
            </div>
        </div>
        <div class="col-md-4 mb-1 chart-container" style="position: relative; height:100%; width:100%">
            <div class="card">
                <canvas id="pie-chart" width="100" height="70"></canvas>
            </div>
        </div>
        <div class="col-md-4 mb-1 chart-container" style="position: relative; height:100%; width:100%">
            <div class="card">
                <canvas id="bar-chart" width="100" height="70"></canvas>
            </div>
        </div>
    </div>

        <!--CHART JS-->
    <div class="row justify-content-center">
        <div class="col-md-4 mb-1 chart-container" style="position: relative; height:100%; width:100%">
            <div class="card">
                <canvas id="status-chart" width="100" height="70"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- CHART JS  -->
<script src="/js/chart.js"></script>
<script type="text/javascript">
    const data = JSON.parse(document.getElementById("typeChart").value);
    const labels = [];
    const values = [];
    data.forEach(typeChart => {
        labels.push(typeChart.type[0].description);
        values.push(typeChart.quant);
    });
    window.barChart.config.data.labels = labels;
    window.barChart.config.data.datasets.pop();
    window.barChart.config.data.datasets.push({
        label: "Quantidade (unidade)",
        data: values,
        backgroundColor: [
            '#00008B',
            '#0000FF',
            '#3A5FCD',
            '#4169e1',
            '#1874CD',
            '#00BFFF',
            '#8DB6CD',
            '#6C7B8B',
            '#C6E2FF',
        ],
    });
    window.barChart.update();


    const data2 = JSON.parse(document.getElementById("groupChart").value);
    const labels2 = [];
    const values2 = [];
    data2.forEach(groupChart => {
        labels2.push(groupChart.group[0].description);
        values2.push(groupChart.quant);
    });
    window.pieChart.config.data.labels = labels2;
    window.pieChart.config.data.datasets.pop();
    window.pieChart.config.data.datasets.push({
        label: "Quantidade (unidade)",
        data: values2,
        backgroundColor: [
            '#363636',
            '#696969',
            '#2F4F4F',
            '#CDC8B1',
            '#000000',
            '#8B0000',
            '#FFA500',
            '#808080',
            '#696969',
            '#000000',

        ],
    });
    window.pieChart.update();



    const data3 = JSON.parse(document.getElementById("warehouseChart").value);
    const labels3 = [];
    const values3 = [];
    data3.forEach(warehouseChart => {
        labels3.push(warehouseChart.warehouse[0].description);
        values3.push(warehouseChart.quant);
    });
    window.lineChart.config.data.labels = labels3;
    window.lineChart.config.data.datasets.pop();
    window.lineChart.config.data.datasets.push({
        label: "Quantidade (unidade)",
        data: values3,
        backgroundColor: [
            '#00008B',
            '#0000FF',
            '#3A5FCD',
            '#4169e1',
            '#1874CD',
            '#00BFFF',
            '#8DB6CD',
            '#6C7B8B',
            '#C6E2FF',

        ],
    });
    window.lineChart.update();

    const data4 = JSON.parse(document.getElementById("statusChart").value);
    const labels4 = [];
    const values4 = [];
    data4.forEach(statusChart => {
        labels4.push(statusChart.status[0].description);
        values4.push(statusChart.quant);
    });
    window.statusChart.config.data.labels = labels4;
    window.statusChart.config.data.datasets.pop();
    window.statusChart.config.data.datasets.push({
        label: "Quantidade (unidade)",
        data: values4,
        backgroundColor: [
            '#2F4F4F',
            '#696969',
            '#708090',
        ],
    });
    window.statusChart.update();

</script>