<div class="d-flex justify-content-center">
    <div class="mt-2 row">
        <div class="col-md-4 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://warehousemapp.s3.amazonaws.com/logo8.png"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h1 class="card-title">404</h1>
                    <h3 class="card-title">Not Found</h3>
                    <p class="card-text">Esta página não existe</p>
                    <p class="card-text"><small class="text-muted">This page does not exists</small></p>
                    <a href="/" class="btn btn-primary">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>