
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel01 carousel-item active">
      <div class="carousel-caption d-none d-md-block">
        <div class="elemento">
          <image src="img/logo6.png" style="opacity : 0.3; border-radius:20px " width="800px"></image>
          <!--<h1>Bem Vindo ao WarehouseApp!</h1>-->
        </div>
      </div>
    </div>
    <div class="carousel02 carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <div class="elemento">
          <image src="img/logo6.png" style="opacity : 0.3; border-radius:20px " width="800px"></image>
          <!--<h1>Bem Vindo ao WarehouseApp!</h1>-->
        </div>
      </div>
    </div>
    <div class="carousel03 carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <div class="elemento">
          <image src="img/logo6.png" style="opacity : 0.3; border-radius:20px " width="800px"></image>
          <!--<h1>Bem Vindo ao WarehouseApp!</h1>-->
        </div>
      </div>
    </div>
    <div class="carousel04 carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <div class="elemento">
          <image src="img/logo6.png" style="opacity : 0.3; border-radius:20px " width="800px"></image>
          <!--<h1>Bem Vindo ao WarehouseApp!</h1>-->
        </div>
      </div>
    </div>
  </div>
</div>