$theme-colors: (
    "primary": #0075be,
);
$border-radius: 0.9rem !default;
$border-radius-lg: 0.9rem !default;
$border-radius-sm: 0.9rem !default;


@import "../../node_modules/bootstrap/scss/bootstrap";



//  SIDEBAR
body {
    overflow-x: hidden;
}

.offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    right: 100%;
    left: -220px;
    width: 220px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: /*#343a40*//*#f8f9fa*/#0075be;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
}

.offcanvas-collapse {
    align-items: start;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    

}

.offcanvas-collapse.open {
    left: 0;
    visibility: visible;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #0075be;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

//app
.certificate {
    display: none;
}

input[type="file"]{  color: transparent; display: none;}

thead {
    background-color: #0075be;
    color: #fff;
}
table {
    font-size: x-small;
}

.btn {
    font-size: medium;
    top: 50%;
    left: 50%;
    border-radius: 60px;
}

.btntb {
    font-size: small;
    width: 35px;
}

.groups {
    padding-top: 150px;
    padding-bottom: 300px;
    /* Place content 60px from the top */
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
}

.takegroups {
    padding-top: 150px;
    padding-bottom: 400px;
    /* Place content 60px from the top */
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
}

.addgroups {
    padding-top: 100px;
    padding-bottom: 300px;
    /* Place content 60px from the top */
    width: 500px;
    height: 100%;
    top: 50%;
    left: 50%;
    //color: lighten($color: #ffffff, $amount: 0);
    //transform: translate(-50%, -50%);
}

.addsubgroups {
    padding-top: 80px;
    padding-bottom: 200px;
    /* Place content 60px from the top */
    width: 500px;
    height: 100%;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
}

.userlogin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //padding-top: 250px;
    //padding-bottom: 335px;  
    width: 400px;
    //height: 100%;
    color: lighten($color: #ffffff, $amount: 0);
    //transform: translate(-50%, -50%);
}

.userlogin2 {
    position: fixed;
    //padding-top: 80px;
    //padding-bottom: 335px;
    text-align: left;
    width: 400px;
    //height: 100%;
    top: 50%;
    left: 50%;
    color: lighten($color: #ffffff, $amount: 0);
    transform: translate(-50%, -50%);
}

.user {
    position: fixed;
    //padding-top: 75px;
    //padding-bottom: 100px;
    width: 400px;
    //height: 100%;
    top: 50%;
    left: 50%;
    color: lighten($color: #ffffff, $amount: 0);
    transform: translate(-50%, -50%);
}

input {
    color: lighten($color: #ffffff, $amount: 0);
    opacity: 0.9;
}

//SELECT E INPUT SEM BORDAS
.car {
    background: transparent;
    pointer-events: none;
    touch-action: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    //background: transparent url('example.png') no-repeat right center;
    padding: 2px 30px 2px 2px;
    border: none;
}

* {
    padding: 0;
    margin: 0;
}
.intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background-image: url("/uploads/capadev.jpg");
    background-position: 30% 45%;
    background-size: cover;
}

.bgDark {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 0;
    color: white;
    background-image: url("/img/bg02.jpg");
    //background-color: grayscale($color: #000000);
    background-position: 30% 45%;
    background-size: cover;
    hr {
        border-color: #ffffff;
    }
    table{
        //background-color: #ffffff;
        color: white;
        background-color: rgba(0, 0, 0, 0.7) !important;
    }
}

.bgLight {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 0;
    //color: white;
    background-image: url("/img/bg01.jpg");
    //background-color: grayscale($color: #ffffff);
    background-position: 30% 45%;
    background-size: cover;

}

button{ margin:1px; }


.bgRegister {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-image: url("/img/ferramentas07.jpg");
    background-color:  #000000;
    background-position: 30% 45%;
    background-size: cover;

}

.bgLogin {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-image: url("/img/ferramentas08.jpg");
    background-color:  #000000;
    background-position: 30% 45%;
    background-size: cover;

}

.bgLoginIndex {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 0;
    background-image: url("/img/ferramentas01.jpg");
    background-color:  #000000;
    background-position: 30% 45%;
    background-size: cover;

}



.card {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white;
}

.elemento {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
