$theme-colors: (
    "primary": #0075be,
);
$border-radius: 0.9rem !default;
$border-radius-lg: 0.9rem !default;
$border-radius-sm: 0.9rem !default;

@import "../../node_modules/bootstrap/scss/bootstrap";

thead {
    background-color: #0075be;
    color: #fff;
}
table {
    font-size: x-small;
}

.btn {
    font-size: medium;
    top: 50%;
    left: 50%;
    border-radius: 60px;
}

.btntb {
    font-size: small;
    width: 35px;
}

.groups {
    padding-top: 150px;
    padding-bottom: 300px;
    /* Place content 60px from the top */
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
}

.takegroups {
    padding-top: 150px;
    padding-bottom: 400px;
    /* Place content 60px from the top */
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
}

.addgroups {
    padding-top: 100px;
    padding-bottom: 300px;
    /* Place content 60px from the top */
    width: 500px;
    height: 100%;
    top: 50%;
    left: 50%;
    //color: lighten($color: #ffffff, $amount: 0);
    //transform: translate(-50%, -50%);
}

.addsubgroups {
    padding-top: 80px;
    padding-bottom: 200px;
    /* Place content 60px from the top */
    width: 500px;
    height: 100%;
    top: 50%;
    left: 50%;
    //transform: translate(-50%, -50%);
}

.userlogin {
    padding-top: 100px;
    padding-bottom: 335px;
    width: 400px;
    height: 100%;
    top: 50%;
    left: 50%;
    color: lighten($color: #ffffff, $amount: 0);
    //transform: translate(-50%, -50%);
}

.user {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 400px;
    height: 100%;
    top: 50%;
    left: 50%;
    color: lighten($color: #ffffff, $amount: 0);
}

input {
    color: lighten($color: #ffffff, $amount: 0);
    opacity: 0.9;
}

//SELECT E INPUT SEM BORDAS
.car {
    background: transparent;
    pointer-events: none;
    touch-action: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    //background: transparent url('example.png') no-repeat right center;
    padding: 2px 30px 2px 2px;
    border: none;
}

* {
    padding: 0;
    margin: 0;
}
.intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background-image: url("/uploads/capadev.jpg");
    background-position: 30% 45%;
    background-size: cover;
}

.bgdark {
    display: table;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background-image: url("/img/ferramentas11.jpg");
    background-position: 30% 45%;
    background-size: cover;
    hr {
        border-color: #4b4b4bcc;
    }
}
