  
<div id="map"></div>

<script>
  var map = L.map('map').setView([-21.7887, -48.1773], 13);
  L.tileLayer('https://b.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
  var searchControl = L.esri.Geocoding.geosearch().addTo(map);
  var results = L.layerGroup().addTo(map);
  searchControl.on('results', function (data) {
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
    }
  });
        // Geolocation
        map.locate({ enableHighAccuracy: true })
        map.on('locationfound', (e) => {
            const coords = [e.latlng.lat, e.latlng.lng];
            const newMarker = L.marker(coords);
            newMarker.bindPopup('Você está aqui!').openPopup();;
            map.addLayer(newMarker);
            //socket.emit('userCoordinates', e.latlng);
        });
        //map.addLayer(tile);
</script>