<style>
* {
  padding:0;
  margin:0;
}
.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  color: white;
   background-image: url("/uploads/capadev.jpg");
  background-position: 30% 45%;
  background-size: cover;
}
</style>

<div class="intro">
<h1>Em Breve</h1>
</div>