<style>
  * {
    padding: 0;
    margin: 0;
  }

  .intro {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    color: white;
    background-image: url("https://workharderhome.files.wordpress.com/2019/08/blur-code-dark-2653362.jpg?w=1568");
    background-position: 30% 45%;
    background-size: cover;
  }
</style>

<div class="intro">
  <div class="container">
  <h1>Time is king, the clock never stops</h1>
</div>
</div>