<div class="jumbotron " style="background-color: transparent;" >
  <div class="index container">
    <h1 class="display-4">Bem vindo, ao Warehouseapp!</h1>
    <p class="lead">Aqui estão listados todos equipamentos, ferramentas, cosumíveis, epi's e demais insumos para nossos
      Sites.</p>
    <hr class="my-4">
    <p>Após logado, você pode pesquisar, solicitar e obter informações sobre nosso estoque em tempo real.</p>
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Saiba Mais</a>
  </div>
</div>
